body {
  font-family: "Roboto Condensed", sans-serif;
}
#carouselExampleDark {
  height: 100vh;
  overflow: hidden;
}
.carousel-inner img {
  height: 100vh;
  width: auto;
  filter: brightness(50%);
}

main {
  background-image: url(https://images.unsplash.com/photo-1597839219216-a773cb2473e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section {
  margin-bottom: 80px;
  background-color: #f2fedc;
  height: 300px;
  padding: 15px;
  padding-bottom: 40px;
  overflow: hidden;
}

section h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  width: 70%;
  margin: 0px auto;
  border-bottom: 2px solid rgb(44, 116, 44);
  margin-top: 20px;
}

table,
#interests ul {
  margin: 0px auto;
  margin-top: 25px;
  height: 50%;
  width: 70%;
}

table tr {
  border: 1px solid rgb(189, 189, 189);
}

#experiences ul {
  padding: 20px;
  padding-left: 30px;
  width: 70%;
  margin: auto auto;
  margin-top: 25px;
  color: rgb(34, 34, 34);
  text-align: left;
  border: 1px solid #ddd;
  border-left: 10px solid #4fa36b;
}

#experiences h2 {
  border-bottom: none;
}
ul {
  list-style: none;
}

#about td,
#education td,
#skills td {
  padding-left: 20px;
}
#interests{
    margin-bottom: 0;
}
#interests ul {
  display: flex;
  justify-content: space-between;
}
#interests ul li {
  padding: 7px;
  border-radius: 20px;
  color: whitesmoke;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#warna-bg {
  background-color: #4fa36b5b;
}

.hitam {
  background-color: black;
}

.kuning {
  background-color: #f0bc22;
}
.hijau {
  background-color: #21b653;
}

#gulir {
    z-index: 999;
    position: fixed;
    right: 1rem;
    bottom: 4rem;
    width: 50px;
    height: 50px;
    /* background-color: yellow; */
    cursor: pointer;
    display: none;
}

.bi {
    color: rgb(243, 243, 30);
}
footer {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    text-align: center;
    padding: 10px;    
}


